*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    background: linear-gradient(
        #2D1456,
        #ff6e6a
        
    )  0 100% no-repeat;
    background-size: 100% 50%;

    /* zoom: 110%; */
   
}
.container{
    width: 600px;
    padding: 90px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(50,50,50,0.15);
    border-radius: 8px 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",sans-serif;
}
.dice-wrapper{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
p{
    font-size: 16px;
    margin: 30px 0;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button{
    background-color: #2D1456;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    width: 150px;
    letter-spacing: 1px;
    /* border-radius: 5px; */
    cursor: pointer;
    border-radius: 8px 500px;
}
.shake:nth-child(1){
    animation: shake 1.6s infinite;
    -webkit-animation: shake 1.6s infinite;
}
.shake:nth-child(2){
    animation: shake 1.9s infinite;
    -webkit-animation: shake 1.9s infinite;
}
@keyframes shake{
    0%{
        transform: rotateY(360deg);
        color: black;
        rotate: -90deg;
    }
    25%{
        transform: rotateX(-360deg);
        background: black;
        border-radius: 8px;
        z-index: -1;
        box-shadow: 20px 12px 4px rgba(0, 0, 0, 0.684);
        rotate: 180deg;
    }
    50%{
        transform: rotateY(360deg);
        rotate: -360deg;
    }
    75%{
        transform: rotateY(-360deg);
        background: rgb(65, 0, 75);
        border-radius: 8px;
        z-index: -1;
        box-shadow: 20px 12px 4px rgba(0, 0, 0, 0.684);
    }
    100%{
        transform: rotateY(360deg);
        rotate: -90deg;
    }
}

.rules{

    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    position: absolute;
    bottom: 0;
}
#pt1{
    color: red;
}
#pt2{
    color: green;
}
#pt3{
    color: #2D1456;
}
h1{
    text-align: center;
    color: #2D1456;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
}
span{
    color: #ff6e6a;
    font-style: oblique;
}
.bi{
    color: #2D1456;
    font-size: 40px;
    font-weight: 700;
    
}

footer{
    position: absolute;
    bottom: -10px;
    right: 0;
    font-weight: 200;
    opacity: .6;
}
#ft{
    font-weight: 100;
   
    font: 1em sans-serif;
}
#total{
    background: #ff6e6a;
    padding: 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
input{
    padding: 8px;
    margin: 8px;
}
.table {
    background-color: #ffffff;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }

  .table thead th {
    background-color: #2D1456;
    color: #ffffff;
    border: none;
    padding: 1rem;
  }

  .table tbody tr {
    border-bottom: 2px solid #e100ff;
  }

  .table tbody td {
    padding: 1rem;
  }

  .table tbody tr:nth-of-type(odd) {
    background-color: #cbc9c9;
  }

  .table tbody tr:hover {
    background-color: #ff0404;
    color:#cbc9c9;
    font-weight: 700;
  }

  .table tbody tr:last-of-type {
    border-bottom: none;
  }
